@model IEnumerable<BancaTest2.Models.MovimentoUtente>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UtenteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovimentoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cifra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UtenteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovimentoData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cifra)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
